* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}
body {
    background: url(./image/background.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
header {
    padding: 2em;
    text-align: center;
}
#winner {
    font-size: 3em;
    color: gold;
    background-color: #6c208d;
    width: fit-content;
    margin-inline: auto;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-radius: 0.2em;
    padding-inline: 0.5em;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    opacity: 0;
}
.gameZone {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5em;
    max-width: 1000px;
    margin-inline: auto;
}
.player1, .player2 {
    display: flex;
    flex-direction: column;
    gap: 5em;
    margin: 2em;
    width: 95%;
    margin-inline: auto;
}
.player1 > span { 
    display: flex;
    justify-content: space-around;
}
.optionImg {
    width: 25%;
    transform: scaleX(-1);
    transform: scaleY(-1);
}
.optionImg:hover {
    border: 1.5px solid #d160d7;
    border-radius: 5px;
    padding: 5px;
}
#P1Img, #P2Img {
    transform: scaleX(-1);
    transform: scaleY(-1);
    aspect-ratio: 1.6;
    width: 90%;
}
#P2Img {
    transform: rotate(180deg);
}

@media only screen and (max-width:480px) {
    .gameZone {
        display: flex;
        flex-direction: column-reverse;
        max-width: 1000px;
        margin-inline: auto;
        height: unset;
    }
    #P1Img, #P2Img {
        width: unset;
    }
    .player1, .player2 {
        width: 50%;
    }
}

@media only screen and (max-width: 650px) {
    #winner {
        font-size: 1.6em;
    }
    .gameZone {
        gap: 0em;
    }
    .player1, .player2 {
        gap:2em;
    }
    .gameZone {
        margin: 0;
        /* height: 75vh; */
        overflow: hidden;
    }
    #main {
        height: max-content;
        display: grid;
        grid-template-rows: 10% 13% 80%;
    }
}
/* 
@media only screen and (max-width: 380px) {
    .player1, .player2 {
        gap:0em;
    }
    header {
        padding: 2em;
    }
    header > h1 {
        font-size: 1em;
    }
    #winner {
        font-size: 1em;
    }
    .gameZone {
        gap: 1em;
    }
    .player1, .player2 {
        gap: 2em;
    }
    .optionImg {
        width: 2em;
    }
    #P1Img, #P2Img {
        width: 5em;
        height: 5em;
    }
}

@media only screen and (max-width: 250px) {
    header {
        padding: 1em;
    }
    header > h1 {
        font-size: 1em;
    }

    .optionImg {
        width: 1em;
    }
    #P1Img, #P2Img {
        width: 3em;
        height: 3em;
    }
    
} */